body {
    background-image: url(Images/backgroundimage.jpg);
    background-position:center;
}

h1{
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style:flex;
    text-align: center;
    text-shadow: black;
    font-size: 96px;
}

h2{
    color: blue
    font-family; 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style; groove;
    text-align; center;
}

nav>ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}


nav>ul>li {

    display: inline-flex;
    border-style: groove;
    text-align: center;
    border-radius: 12px;
    border: 12px;
}

nav>ul>li>a {
    text-decoration:overline;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 48px;
    border-radius: 12px;
    border: 12px;
}

nav>ul>li>a:hover{
    background-color: orange;
}

p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}


img{ 
    padding: 5px;
    width: 250px;
}

figcaption{
    color: white;
}

figure{
    display: flexbox;
    width: 1920px;
    height: 1080px;
    column-count: 3;
}